<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FD">
	<parameter name="pdfngreport-properties"
		value="src/main/resources/report_resource/pdfngreport.properties" />
	<listeners>
		<listener class-name="com.uttesh.pdfngreport.PDFReportListener" />
		<listener class-name="com.hallwaze.report.CustomReporter" />
	</listeners>

	<test name="FD">

		<parameter name="browserName" value="chrome" />
		<parameter name="baseurl" value="https://www.hallwaze.com/" />
		<classes>
			<class name="com.testscript.SignIn" />
			<class name="com.testscript.LogOut" />
		</classes>
	</test>

</suite>	